<h2>utilizzo con variabile interna</h2>
<mat-nav-list>
  <a
    mat-list-item
    *ngFor="let todo of todos; let i = index"
    (click)="onItemSelected(todo.id)"
  >
    <h3>{{ i + 1 }} - {{ todo.title }}</h3>
    <mat-icon matListIcon *ngIf="todo.done">done</mat-icon>
    <mat-icon matListIcon>{{ todo.done ? "done" : "home" }}</mat-icon>
  </a>
</mat-nav-list>
<!-- in caso di gestione link direttamente in tag anchor [routerLink]="['../', 'detail', todo.id]" -->

<h2>utilizzo con observable</h2>
<ol>
  <li *ngFor="let item of todos$ | async">{{ item.title }}</li>
</ol>

<h2>Utilizzo proprietà esposta dal servizio</h2>
<ul>
  <li *ngFor="let item of srv.todos">{{ item.title }}</li>
</ul>
